/* Reseting margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: dimgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3rem;
}

.title {
    padding-bottom: 3rem;
}

.subTitle {
    font-size: 1.48em;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

a:hover {
    color: #252525;
    text-decoration: underline;
    transition-duration: 0.8s;
}

.tab-container {
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: #fff;
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .tab-buttons {
    display: block;
    margin-bottom: 1rem;
  }
  
  .tab {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    color: #666666;
    border-bottom: 2px solid transparent;
  }
  
  .tab.active {
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
  }
  
  .tab-content .content {
    display: none;
    background-color: black;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  
  .tab-content .content.active {
    display: block;
  }
  