/* Import Google Fonts for better typography */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Reset and base styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;       /* Prevent text overflow */
}

body {
  background-color: #173842;
  font-family: 'Poppins', 'Roboto', sans-serif;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #122e36;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 35rem;
  min-width: 6rem;
  padding: 1rem;
  gap: 1rem;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 485px) {
  .tab {
    flex: 45%;
  }
}

.tab {
  cursor: pointer;
  transition: font-size 0.3s ease;
  position: relative;
}

.tab.active {
  font-size: 20px
}

.tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.tab.active::after {
  width: 100%;
}

.content {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fadeIn 0.5s ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.appear {
  animation: appear 0.4s ease;
}
